---
import BaseLayout from '../../layouts/BaseLayout.astro';
import RecipeCard from '../../components/RecipeCard.astro';
import { getRecipes } from '../../lib/graphql';

const allRecipes = await getRecipes();
---

<BaseLayout>
  <h1 class="text-3xl font-bold mb-6">Recipes</h1>


  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {allRecipes.length > 0 ? (
      allRecipes.map(recipe => <RecipeCard recipe={recipe} />)
    ) : (
      <p class="col-span-full text-center text-gray-500">No recipes found.</p>
    )}
  </div>
</BaseLayout>
