<header class="bg-gray-800 text-white p-4">
  <nav class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
    <a href="/" class="text-xl font-bold mb-2 sm:mb-0">KetoHouse</a>
    <div class="flex flex-col sm:flex-row items-center">
      <a href="/recipes" class="p-2 hover:text-gray-300">Recipes</a>
      <a href="/science" class="p-2 hover:text-gray-300">The Science</a>
      <a href="/meal-planners" class="p-2 hover:text-gray-300">Meal Planners</a>
      <a href="/mind-and-body" class="p-2 hover:text-gray-300">Mind & Body</a>
      <a href="/courses" class="p-2 hover:text-gray-300">Courses</a>
      <a href="/shop" class="p-2 hover:text-gray-300">Shop</a>
    </div>
  </nav>
</header>
