---
const { recipe } = Astro.props;
---

<a href={`/recipes${recipe.uri}`} class="block border rounded-lg overflow-hidden hover:shadow-lg">
  <div class="p-4">
    <h2 class="text-xl font-bold">{recipe.title}</h2>
  </div>
</a>
