---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticlePreview from '../../components/ArticlePreview.astro';
import { getPostsByCategory } from '../../lib/graphql';

const scienceArticles = await getPostsByCategory('Science');
---

<BaseLayout>
  <h1 class="text-3xl font-bold">The Science</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
    {scienceArticles.map(article => <ArticlePreview article={article} />)}
  </div>
</BaseLayout>
